<!DOCTYPE html>
<html>
  <head>
    <title>Wildlife Tracker</title>
    <link rel="icon" type="images/x-icon" href="/images/lion-small.png"
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/css/app.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      #parse( $header )
    </div>
    <div class="container" >
      #parse( $template )
    </div>

    #[[
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    ]]#
    #[[ <script src="/js/scripts.js"></script>]]#

  </body>
</html>
